<% if(message.length>0){ %>
<div class="alert alert-success">
    <%= message %>
</div>
<% } %>
<form action="/topics/post-form" method="post">
    <div class="form-group">
        <label for="exampleInputTopicName">Topic name</label>
        <input type="text" class="form-control" id="exampleInputTopicName" aria-describedby="topicNameHelp"
            placeholder="enter topic name" name="Country">


    </div>
    <div class="form-group">
        <label for="Register Date">Register Date:</label>
        <input type="date" id="Register Date" name="RegistrationDate">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>